node_modules
/dist
.cert

# local env files
.env.local
.env.*.local

# log files
npm-debug.log*
pnpm-debug.log*

# editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# local SSL certificates
*.pem
